---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";

import group from "../../assets/group.png";
import vision from "../../assets/vision.png";
import fortaleza from "../../assets/fortaleza.png";

import expertise from "../../assets/expertise.png";
import experiencia from "../../assets/experiencia.png";
import valores from "../../assets/valores.png";
import vision2 from "../../assets/visionIcon.png";
import { FaRegCheckCircle } from "react-icons/fa";

import icon1 from "../../assets/fortalezas/download.png";
import icon2 from "../../assets/fortalezas/download-1.png";
import icon3 from "../../assets/fortalezas/download-2.png";
import icon4 from "../../assets/fortalezas/download-3.png";
import icon5 from "../../assets/fortalezas/download-4.png";
import icon6 from "../../assets/fortalezas/download-5.png";
import icon7 from "../../assets/fortalezas/download-6.png";

export async function getStaticPaths() {
  return [{ params: { lang: "es" } }, { params: { lang: "en" } }];
}

const { lang } = Astro.params;
const translations = await import(
  `../../i18n/locales/${lang}/translation.json`
);

const items = [
  {
    title: translations.oferta_titulo,
    icon: icon1,
    description: translations.oferta_text,
  },
  {
    title: translations.personalizado_titulo,
    icon: icon4,
    description: translations.personalizado_text,
  },
  {
    title: translations.evitar_titulo,
    icon: icon2,
    description: translations.evitar_text,
  },
  {
    title: translations.trasparencia_titulo,
    icon: icon5,
    description: translations.trasparencia_text,
  },
  {
    title: translations.independencia_titulo,
    icon: icon6,
    description: translations.independencia_text,
  },
  {
    title: translations.discrecion_titulo,
    icon: icon3,
    description: translations.discrecion_text,
  },
  {
    title: translations.flexibilidad_titulo,
    icon: icon7,
    description: translations.flexibilidad_text,
  },
];
---

<Layout>
  <div class="servicio nosotros">
    <div class="icon">
      <Image src={group} alt="logo" width={1000} class="iconNosotros" />
    </div>
    <div class="servicioText">
      <h2>{translations.nosotros_titulo}</h2>
    </div>
  </div>

  <div class="expertise">
    <div class="expertiseContainer">
      <h3>EXPERTISE</h3>
      <div class="expertiseContent">
        <div class="expertiseText">
          <ul>
            <li>
              <FaRegCheckCircle />
              <p>
                {translations.nosotros_expertise_text}
              </p>
            </li>
          </ul>
        </div>

        <div class="expertiseImage">
          <Image
            src={expertise}
            alt="logo"
            width={1000}
            class="iconExpertise"
          />
        </div>
      </div>
    </div>
    <div class="experiencia">
      <div class="experienciaImage">
        <Image
          src={experiencia}
          alt="logo"
          width={1000}
          class="iconExperiencia"
        />
      </div>
      <div class="experienciaText">
        <h3>{translations.nosotros_experiencia_titulo}</h3>
        <ul>
          <li>
            <FaRegCheckCircle />
            <p>
              {translations.nosotros_experiencia_text}
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="servicio visionValores">
    <div class="icon">
      <Image src={vision} alt="logo" width={1000} class="iconNosotros" />
    </div>
    <div class="servicioText">
      <h2>{translations.valores_titulo}</h2>
    </div>
  </div>

  <div class="vision">
    <div class="visionContainer">
      <div class="visionContent">
        <div class="visionText">
          <h3>{translations.vision_titulo}</h3>
          <ul>
            <li>
              <FaRegCheckCircle />
              <p>
                {translations.vision_text}
              </p>
            </li>
          </ul>
        </div>

        <div class="visionImage">
          <Image src={vision2} alt="logo" width={1000} class="iconVision" />
        </div>
      </div>
    </div>
    <div class="valores">
      <div class="valoresImage">
        <Image src={valores} alt="logo" width={1000} class="iconValores" />
      </div>
      <div class="valoresText">
        <h3>{translations.valores2_titulo}</h3>
        <ul>
          <li>
            <FaRegCheckCircle />
            <p>
              {translations.valores2_text}
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="servicio fortaleza">
    <div class="icon">
      <Image src={fortaleza} alt="logo" width={1000} class="iconNosotros" />
    </div>
    <div class="servicioText">
      <h2>{translations.fortalezas_titulo}</h2>
    </div>
  </div>
  <section class="itemsWrapper">
    <div class="itemsContainer">
      {
        items.map((item) => (
          <div class="item">
            <div class="iconContainer">
              <div class="iconItem">
                <Image
                  src={item.icon}
                  alt="logo"
                  width={1000}
                  class="logoItem"
                />
              </div>
            </div>
            <div class="textItem">
              <h2>{item.title}</h2>
              <ul>
                {item.description
                  .split(".")
                  .filter((p) => p.trim() !== "")
                  .map((p) => (
                    <li>
                      {" "}
                      <FaRegCheckCircle />
                      <p>{p.trim()}.</p>
                    </li>
                  ))}
              </ul>
            </div>
          </div>
        ))
      }
    </div>
  </section>
</Layout>

<style>
  .nosotros {
    border-bottom: 4px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    background-size: cover;
    background-position: 50% 20%;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    padding-right: 250px;
    background-image:
      linear-gradient(to right, rgba(0, 0, 0, 0.989) 25%, rgba(0, 0, 0, 0)),
      url(../../assets/work.jpg);
  }
  .visionValores {
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    padding-right: 250px;
    background-image:
      linear-gradient(to right, rgba(0, 0, 0, 0.989) 25%, rgba(0, 0, 0, 0)),
      url(../../assets/sticky.jpg);
  }
  .fortaleza {
    border-top: 4px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    padding-right: 250px;
    background-image:
      linear-gradient(to right, rgba(0, 0, 0, 0.989) 25%, rgba(0, 0, 0, 0)),
      url(../../assets/fort.png);
  }
  .icon {
    padding-right: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
    color: white;
  }
  .iconNosotros {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .servicioText {
    padding-left: 30px;
    width: 40%;
  }
  .servicioText h2 {
    font-size: 3.5rem;
    margin: 0px;
    color: white;
    font-family: "NotoSerifRegular", serif;
    font-weight: 400;
  }

  .expertise {
    background:
      radial-gradient(at top left, #010101, transparent 45%),
      radial-gradient(at bottom right, #010101, transparent 35%), #404041;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 750px;
    padding-bottom: 70px;
    padding-top: 70px;
  }
  .expertiseContainer {
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .expertiseContainer h3 {
    font-family: "NotoSerifBold", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.7rem;
    margin: 0px;
    padding: 0px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-radius: 30px;
    padding: 10px 30px;
    box-sizing: border-box;
  }
  .expertiseContent {
    width: 100%;
    height: 100%;
    display: flex;
  }
  .expertiseText {
    color: white;
    width: 50%;
  }
  .expertiseText ul {
    padding-top: 20px;
    padding-left: 10px;
    margin: 0px;
  }
  .expertiseText li {
    display: flex;
    gap: 10px;
    margin: 0px;
    padding-bottom: 10px;
  }
  .expertiseText li p {
    width: 90%;
    margin: 0px;
    font-size: 1.3rem;
  }

  .expertiseImage {
    width: 50%;
    height: 400px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .expertiseImage .iconExpertise {
    width: 90%;
    height: 90%;
    object-fit: contain;
  }

  .experiencia {
    width: 70%;
    height: 30%;

    display: flex;
  }
  .experienciaText {
    color: white;
    width: 50%;
  }
  .experienciaText h3 {
    font-family: "NotoSerifBold", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.7rem;
    margin: 0px;
    padding: 0px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-radius: 30px;
    padding: 10px 30px;
    box-sizing: border-box;
  }
  .experienciaText ul {
    padding-top: 20px;
    padding-left: 10px;
    margin: 0px;
  }
  .experienciaText li {
    display: flex;
    gap: 10px;
    margin: 0px;
    padding-bottom: 10px;
  }
  .experienciaText li p {
    width: 90%;
    margin: 0px;
    font-size: 1.3rem;
  }
  .experienciaImage {
    width: 50%;
    height: 100%;
  }
  .experienciaImage .iconExperiencia {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .vision {
    background:
      radial-gradient(at top left, #010101, transparent 45%),
      radial-gradient(at bottom right, #010101, transparent 35%), #404041;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 750px;
    padding-bottom: 70px;
    padding-top: 70px;
  }
  .visionContainer {
    width: 70%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .visionText h3 {
    font-family: "NotoSerifBold", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.7rem;
    margin: 0px;
    padding: 0px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-radius: 30px;
    padding: 10px 30px;
    box-sizing: border-box;
  }
  .visionContent {
    width: 100%;
    height: 100%;
    display: flex;
  }
  .visionText {
    color: white;
    width: 50%;
  }
  .vision ul {
    padding-top: 20px;
    padding-left: 10px;
    margin: 0px;
  }
  .vision li {
    display: flex;
    gap: 10px;
    margin: 0px;
    padding-bottom: 10px;
  }
  .vision li p {
    width: 90%;
    margin: 0px;
    font-size: 1.3rem;
  }
  .visionImage {
    width: 50%;
    height: 80%;
  }
  .visionImage .iconVision {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .valores {
    width: 70%;
    height: 55%;

    display: flex;
  }
  .valoresText {
    color: white;
    width: 50%;
  }

  .valoresText h3 {
    font-family: "NotoSerifBold", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.7rem;
    margin: 0px;
    padding: 0px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-radius: 30px;
    padding: 10px 30px;
    box-sizing: border-box;
  }
  .valoresText ul {
    padding-top: 20px;
    padding-left: 10px;
    margin: 0px;
  }
  .valoresText li {
    display: flex;
    gap: 10px;
    margin: 0px;
    padding-bottom: 10px;
  }
  .valoresText li p {
    width: 90%;
    margin: 0px;
  }
  .valoresImage {
    width: 50%;
    height: 80%;
  }
  .valoresImage .iconValores {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .itemsWrapper {
    border-top: 4px solid white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:
      radial-gradient(at top left, #010101, transparent 45%),
      radial-gradient(at bottom right, #010101, transparent 35%), #404041;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
  }
  .itemsContainer {
    padding: 120px 0px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: fit-content;
    height: 220vh;
  }
  .item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 500px;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px 0px;
  }
  .iconContainer {
    width: 160px;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .iconItem {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logoItem {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .item .textItem {
    border-top: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
    padding-left: 20px;
    padding-top: 30px;
    box-sizing: border-box;
  }
  .item .textItem h2 {
    margin: 0px;
    width: 95%;
  }
  .item ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 0px;
    margin: 0px;
  }
  .item li {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    list-style: none;
  }
  .item li p {
    margin: 0px;
    width: 85%;
    font-size: 1.1rem;
  }
  @media screen and (max-width: 1250px) {
    .itemsContainer {
      height: fit-content;
    }
  }
  @media screen and (max-width: 768px) {
    .expertiseContainer {
      width: 90%;
    }
    .expertiseContent {
      flex-direction: column;
    }
    .expertiseText {
      width: 100%;
    }
    .expertiseImage {
      width: 100%;
      height: 170px;
    }

    li p {
      font-size: 0.9rem;
    }

    .experiencia {
      width: 90%;
    }
    .experienciaText {
      width: 100%;
    }
    .experiencia h3 {
      font-size: 1.5rem;
    }
    .vision {
      height: fit-content;
    }
    .visionContainer {
      width: 90%;
    }
    .visionContent {
      flex-direction: column;
    }
    .visionText {
      width: 100%;
    }
    .visionImage {
      width: 100%;
      height: 130px;
    }
    .visionText h3 {
      padding: 10px;
      font-size: 1rem;
    }

    .valores {
      flex-direction: column-reverse;
      width: 90%;
    }
    .valoresText {
      width: 100%;
      padding-top: 20px;
    }
    .valoresText h3 {
      padding: 10px;
      font-size: 1rem;
    }
    .valoresText p {
      font-size: 0.8rem;
    }
    .valoresImage {
      width: 100%;
      height: 130px;
    }
    .nosotros {
      padding-left: 20px;
      padding-right: 0px;
    }
    .visionValores {
      padding-left: 20px;
      padding-right: 0px;
    }
    .fortaleza {
      padding-left: 20px;
      padding-right: 0px;
    }
    .servicio h2 {
      font-size: 2.1rem;
    }
    .servicioText {
      width: 100%;
    }

    .icon {
      padding-right: 0px;
    }
    .item {
      width: 90%;
      height: fit-content;
      padding: 20px 0px;
      display: flex;
      flex-direction: column;
    }
  }
</style>
