---
import { Image } from "astro:assets";
import Layout from "../../../layouts/Layout.astro";
import { FaRegCheckCircle, FaLeaf } from "react-icons/fa";

import download from "../../../assets/agronegocios/download.png";
import download1 from "../../../assets/agronegocios/download-1.png";
import download2 from "../../../assets/agronegocios/download-2.png";
import download3 from "../../../assets/agronegocios/download-3.png";
import download4 from "../../../assets/agronegocios/download-4.png";
import download5 from "../../../assets/agronegocios/download-5.png";
import download6 from "../../../assets/agronegocios/download-6.png";
import download7 from "../../../assets/agronegocios/download-7.png";
import VideoSequencer from "../../../components/VideoSequencer";
// src/pages/[lang]/index.astro
export async function getStaticPaths() {
  return [{ params: { lang: "es" } }, { params: { lang: "en" } }];
}

import video1 from "/videos/01.mp4";
import video2 from "/videos/02.mp4";
import video3 from "/videos/03.mp4";
import video4 from "/videos/04.mp4";
import video5 from "/videos/05.mp4";
import video6 from "/videos/CoberturaRiesgos.mp4";
import video7 from "/videos/gestionRiesgo.mp4";
import video1I from "/videos/Identification.mov";
import video2I from "/videos/TrendAnalisys.mov";
import video3I from "/videos/Uptrend.mov";
import video4I from "/videos/TrendReversal.mov";
import video5I from "/videos/Downtrend.mov";
import video6I from "/videos/RiskHeidding.mov";
import video7I  from "/videos/RiskManagment.mov";

const videoListEn = [
  {
    src: video1I,
  },
  {
    src: video2I,
  },
  {
    src: video3I,
  },
  {
    src: video4I,
  },
  {
    src: video5I,
  },
  {
    src: video6I,
  },
  {
    src: video7I,
  }
  
]
const videoList = [
  {
    src: video1,
  },
  {
    src: video2,
  },
  {
    src: video3,
  },
  {
    src: video4,
  },
  {
    src: video5,
  },
  {
    src: video6,
  },
  {
    src: video7,
  },
];

const { lang } = Astro.params;
const translations = await import(
  `../../../i18n/locales/${lang}/translation.json`
);
const selectedVideoList = lang === "en" ? videoListEn : videoList;

const items = [
  {
    title: translations.agro_asesoramiento_titulo,
    icon: download,
    description: translations.agro_asesoramiento_text,
  },
  {
    title: translations.agro_inversiones_titulo,
    icon: download4,
    description: "",
  },
  {
    title: translations.agro_financiaciones_titulo,
    icon: download1,
    description: translations.agro_financiaciones_text,
  },
  {
    title: translations.agro_granos_titulo,
    icon: download5,
    description: translations.agro_granos_text,
  },
  {
    title: translations.agro_servicios_titulo,
    icon: download2,
    description: translations.agro_servicios_text,
  },
  {
    title: translations.agro_coaching_titulo,
    icon: download7,
    description: translations.agro_coaching_text,
  },
  {
    title: translations.agro_estructuras_titulo,
    icon: download6,
    description: translations.agro_estructuras_text,
  },
  {
    title: translations.agro_banca_titulo,
    icon: download3,
    description: translations.agro_banca_text,
  },
];
---

<Layout>
  <div>
    <div class="videoContainer">
      <VideoSequencer videos={selectedVideoList} client:load />
    </div>

    <div class="servicio">
      <div class="icon"><FaLeaf /></div>
      <div class="servicioText">
        <h2>{translations.agro_titulo}</h2>
      </div>
    </div>

    <div class="itemsContainer">
      {
        items.map((item) => (
          <div class="item">
            <div class="iconContainer">
              <div class="iconItem">
                <Image
                  src={item.icon}
                  alt="logo"
                  width={1000}
                  class="logoItem"
                />
              </div>
            </div>
            <div class={item.description ? "textItem" : "sinDescripcion"}>
              <h2>{item.title}</h2>
              <ul>
                {item.description
                  .split(".")
                  .filter((p) => p.trim() !== "")
                  .map((p) => (
                    <li>
                      {" "}
                      <FaRegCheckCircle />
                      <p>{p.trim()}.</p>
                    </li>
                  ))}
              </ul>
            </div>
          </div>
        ))
      }
    </div>
  </div>

  <style>
    .videoContainer {
      position: relative;
      height: fit-content;
      background-color: rgb(0, 0, 0);
      padding: 10px 100px;
      box-sizing: border-box;
    }

    .servicio {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 300px;
      background-image:
        linear-gradient(
          to right,
          rgba(0, 0, 0, 0.989) 30%,
          rgba(225, 25, 25, 0)
        ),
        url(../../../assets/farm.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      filter: grayscale(100%);
    }
    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 6rem;
      width: 150px;
      height: 150px;
      border-radius: 100%;
      color: white;
      border: 7px solid white;
      margin-left: 17%;
      margin-right: 80px;
    }
    .servicioText {
      padding-left: 30px;
      width: 40%;
    }
    .servicioText h2 {
      font-size: 3.5rem;
      margin: 0px;
      color: white;
      font-family: "NotoSerifRegular", serif;
      font-weight: 400;
      line-height: 1.1;
    }

    .itemsContainer {
      border-top: 4px solid white;
      padding: 120px 0px;
      gap: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
      background:
        radial-gradient(at top left, #040403, transparent 35%),
        radial-gradient(at bottom right, #040403, transparent 35%), #525236;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      box-sizing: border-box;
    }
    .item {
      display: flex;
      width: 500px;
      height: 400px;
      background-color: rgb(255, 255, 255);
      border: 2px solid black;
      border-radius: 20px;
    }
    .iconContainer {
      width: 160px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 3px solid black;
    }
    .iconItem {
      width: 80%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .logoItem {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    .item .textItem {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 20px;
      width: 100%;
      padding-left: 20px;
      padding-top: 30px;
    }
    .item .sinDescripcion {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      width: 100%;
      padding-left: 20px;
    }
    .item .sinDescripcion h2 {
      margin: 0px;
      width: 95%;
    }
    .item .textItem h2 {
      margin: 0px;
      width: 95%;
      font-family: "NotoSerifBold", sans-serif;
      font-weight: 700;
    }
    .item ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 10px;
      padding: 0px;
      margin: 0px;
    }
    .item li {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 10px;
      list-style: none;
    }
    .item li p {
      margin: 0px;
      width: 85%;
      font-family: "NotoSansRegular", sans-serif;
      font-weight: 400;
      font-size: 0.9rem;
    }
    @media screen and (max-width: 1052px) {
      .videoContainer {
        position: relative;
        background-color: rgb(0, 0, 0);
        box-sizing: border-box;
      }
      .icon {
        font-size: 3rem;
        width: 80px;
        height: 80px;
        border: 5px solid white;
        margin-right: 5%;
      }
      .servicio {
        height: 250px;
      }
      .servicioText {
        width: 60%;
      }
      .servicioText h2 {
        font-size: 2rem;
      }
    }
    @media screen and (max-width: 768px) {
      .videoContainer {
        padding: 10px 20px;
      }
      .servicioText {
        padding-left: 0px;
      }
      .servicioText h2 {
        font-size: 1.5rem;
      }
      .icon {
        margin-left: 12%;
      }
      .iconContainer {
        border-right: 0px;
        width: 100%;
        height: 80px;
      }
      .item {
        width: 90%;
        height: fit-content;
        padding: 20px 0px;
        display: flex;
        flex-direction: column;
      }
      .textItem {
        box-sizing: border-box;
      }
    }
  </style>
</Layout>
