---
import { Image } from "astro:assets";
import Layout from "../../../layouts/Layout.astro";
import { FaRegCheckCircle } from "react-icons/fa";

import icon1 from "../../../assets/icon1.png";
import icon2 from "../../../assets/icon2.png";
import icon3 from "../../../assets/icon3.png";
import icon4 from "../../../assets/icon4.png";
import icon5 from "../../../assets/icon5.png";
import icon6 from "../../../assets/icon6.png";
import icon7 from "../../../assets/icon7.png";
import icon8 from "../../../assets/icon8.png";
import VideoSequencer from "../../../components/VideoSequencer";

// src/pages/[lang]/index.astro
export async function getStaticPaths() {
  return [{ params: { lang: "es" } }, { params: { lang: "en" } }];
}

import video1 from "/videos/01.mp4";
import video2 from "/videos/02.mp4";
import video3 from "/videos/03.mp4";
import video4 from "/videos/04.mp4";
import video5 from "/videos/05.mp4";
import video6 from "/videos/CoberturaRiesgos.mp4";
import video7 from "/videos/gestionRiesgo.mp4";

const videoList = [
  {
    src: video1,
  },
  {
    src: video2,
  },
  {
    src: video3,
  },
  {
    src: video4,
  },
  {
    src: video5,
  },
  {
    src: video6,
  },
  {
    src: video7,
  },
];
const { lang } = Astro.params;
const translations = await import(
  `../../../i18n/locales/${lang}/translation.json`
);

const items = [
  {
    title: translations.finanzas_asesoramiento_titulo,
    icon: icon1,
    description: translations.finanzas_asesoramiento_text,
  },
  {
    title: translations.finanzas_servicios_titulo,
    icon: icon3,
    description: translations.finanzas_servicios_text,
  },
  {
    title: translations.finanzas_productos_titulo,
    icon: icon6,
    description: translations.finanzas_productos_text,
  },
  {
    title: translations.finanzas_financiaciones_titulo,
    icon: icon2,
    description: translations.finanzas_financiaciones_text,
  },
  {
    title: translations.finanzas_banca_titulo,
    icon: icon4,
    description: translations.finanzas_banca_text,
  },
  {
    title: translations.finanzas_estructuras_titulo,
    icon: icon7,
    description: translations.finanzas_estructuras_text,
  },
  {
    title: translations.finanzas_inversiones_titulo,
    icon: icon5,
    description: translations.finanzas_inversiones_text,
  },
  {
    title: translations.finanzas_coaching_titulo,
    icon: icon8,
    description: translations.finanzas_coaching_text,
  },
];
---

<Layout>
  <div>
    <div class="videoContainer">
      <VideoSequencer videos={videoList} client:load />
    </div>

    <div class="servicio">
      <div class="icon">$</div>
      <div class="servicioText">
        <h2>{translations.finanzas_titulo}</h2>
        <h3>{translations.finanzas_subtitulo}</h3>
      </div>
    </div>

    <div class="itemsContainer">
      {
        items.map((item) => (
          <div class="item">
            <div class="iconContainer">
              <div class="iconItem">
                <Image
                  src={item.icon}
                  alt="logo"
                  width={1000}
                  class="logoItem"
                />
              </div>
            </div>
            <div class="textItem">
              <h2>{item.title}</h2>
              <ul>
                {item.description
                  .split(".")
                  .filter((p) => p.trim() !== "")
                  .map((p) => (
                    <li>
                      {" "}
                      <FaRegCheckCircle />
                      <p>{p.trim()}.</p>
                    </li>
                  ))}
              </ul>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</Layout>

<style>
  .videoContainer {
    position: relative;
    height: fit-content;
    background-color: rgb(0, 0, 0);
    padding: 50px 50px;
    box-sizing: border-box;
  }

  .servicio {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 300px;
    background-image:
      linear-gradient(to right, rgba(0, 0, 0, 0.989) 30%, rgba(0, 0, 0, 0)),
      url(../../../assets/finanzas.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    filter: grayscale(100%);
  }
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    color: white;
    border: 7px solid white;
    margin-left: 17%;
    margin-right: 80px;
  }
  .servicioText {
    padding-left: 30px;
    width: 40%;
  }
  .servicioText h2 {
    font-size: 3.5rem;
    margin: 0px;
    color: white;
    font-family: "NotoSerifRegular", serif;
    font-weight: 400;
    line-height: 1.1;
  }
  .servicioText h3 {
    margin: 0px;
    margin-top: 20px;
    color: white;
    font-family: "NotoSansRegular", sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
  }
  .itemsContainer {
    border-top: 4px solid white;
    padding: 120px 0px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background:
      radial-gradient(at top left, #341223, transparent 35%),
      radial-gradient(at bottom right, #341223, transparent 35%), #7c2c54;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
  }
  .item {
    display: flex;
    width: 500px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 20px;
  }
  .iconContainer {
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 3px solid black;
  }
  .iconItem {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logoItem {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .item .textItem {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
    padding-left: 20px;
    padding-top: 30px;
  }
  .item .textItem h2 {
    font-family: "NotoSerifBold", serif;
    font-weight: 700;
    margin: 0px;
    width: 95%;
  }
  .item ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 0px;
    margin: 0px;
  }
  .item li {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    list-style: none;
  }
  .item li p {
    margin: 0px;
    width: 85%;
    font-family: "NotoSansRegular", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
  }
  @media screen and (max-width: 1052px) {
    .videoContainer {
      position: relative;
      background-color: rgb(0, 0, 0);
      box-sizing: border-box;
    }
    .icon {
      font-size: 3rem;
      width: 80px;
      height: 80px;
      border: 5px solid white;
      margin-right: 5%;
    }
    .servicio {
      height: 250px;
    }
    .servicioText {
      width: 60%;
    }
    .servicioText h2 {
      font-size: 2rem;
    }
  }

  @media screen and (max-width: 768px) {
    .servicioText {
      padding-left: 0px;
    }
    .servicioText h2 {
      font-size: 1.5rem;
    }
    .icon {
      margin-left: 12%;
    }
    .iconContainer {
      border-right: 0px;
      width: 100%;
      height: 80px;
    }
    .item {
      width: 90%;
      height: fit-content;
      padding: 20px 0px;
      display: flex;
      flex-direction: column;
    }
    .textItem {
      box-sizing: border-box;
    }
  }
</style>
